<!DOCTYPE html>
<html>
    <header>
        <title> PushPushPush! (Need update) </title>
        <meta charset="utf-8">

        <!-- bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </header>
    <body>
        <div class="container">
          <div class="row">
            <nav class="navbar navbar-default">
              <div class="navbar-header" >
                <a class="navbar-brand" href="#"> Perfect chosen components </a>
              </div>
              <ul class="nav navbar-nav">
                <li>
                  <a href="text-editor"> Text Editor </a>
                </li>
                <li>
                  <a href="#"> White Board </a>
                </li>
              </ul>
            </nav>
          </div>
          <div class="row">
            <div class="col-sm-8" >
              <div class="panel panel-primary">
                <div class="panel-heading"> Awesome Text Editor </div>
                <div class="panel-body">
                  <div id="app" ></div>
                </div>
              </div>
            </div>
          </div>
          <script src="../dist/bundle.js"></script>
        </div>
    </body>
</html>
